@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';

$base-background: #9BDAFF;

/*region Common things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { height: 100%; }

body {
  height: 100%;
  position: relative;
  overflow: hidden
}

#body-container {
  position: relative;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: scroll;

  border: orange solid 2px;
}

button {
  padding: 1mm;
}

input:focus,
select:focus,
textarea:focus {
  background-color: $base-background;
}
/*endregion Common things */

/*region Router*/

.navbar-nav .nav-link.router-link-exact-active {
  background-color: #919191;
  color: #000;
}
/*endregion Router*/

/*region Data Table*/
table.data-table {
  display: block;
  border: #000 solid 1px;
  border-collapse: collapse;
}

table.data-table tr {
  height: 50px;
}

table.data-table tr.odd {
  background-color: #ebebeb;
}

table.data-table tr td,
table.data-table tr th {
  border: #000 solid 1px;
  padding: 3px;
  vertical-align: top;
  min-width: 250px;
}

table.data-table tr th {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.get-params .get-params-each {
  border: #000 solid 1px;
  width: 90%;
  margin: 2px auto;
}

table.data-table tr td input,
.get-params-each input {
  display: block;
  width: 100%;
}

.sort:after {
  content: "~";
}

.sort.ASC_0:after {
  content: "1";
}

.sort.DESC_0:after {
  content: "0";
}

/*endregion Data Table*/

/*region Flex menu*/
.flex-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.flex-menu-item {
  text-align: center;
}

/*endregion Flex menu*/
